LojaWebServiceSoap/Negocio/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10404/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Modelo" />
  <xs:element name="SelectFabricante">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectFabricanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="SelectFabricanteResult" nillable="true" type="q1:ArrayOfFabricante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="f" nillable="true" type="q2:Fabricante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFabricanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="f" nillable="true" type="q3:Fabricante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFabricanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFabricante">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="f" nillable="true" type="q4:Fabricante" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFabricanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVeiculo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectVeiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="SelectVeiculoResult" nillable="true" type="q5:ArrayOfVeiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="v" nillable="true" type="q6:Veiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVeiculoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="v" nillable="true" type="q7:Veiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVeiculoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVeiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Modelo" minOccurs="0" name="v" nillable="true" type="q8:Veiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVeiculoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>