LojaWebServiceSoap/Negocio/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFabricante">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fabricante" nillable="true" type="tns:Fabricante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFabricante" nillable="true" type="tns:ArrayOfFabricante" />
  <xs:complexType name="Fabricante">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fabricante" nillable="true" type="tns:Fabricante" />
  <xs:complexType name="ArrayOfVeiculo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Veiculo" nillable="true" type="tns:Veiculo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVeiculo" nillable="true" type="tns:ArrayOfVeiculo" />
  <xs:complexType name="Veiculo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ano" type="xs:int" />
      <xs:element minOccurs="0" name="DataCompra" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DataVenda" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdFabricante" type="xs:int" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecoVenda" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorCompra" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValorVenda" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Veiculo" nillable="true" type="tns:Veiculo" />
</xs:schema>